<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alunos - TrainerX64</title>
</head>
<body>
    <h1>Alunos cadastrados</h1>
    {% for msg in get_flashed_messages() %}
    <p style="color: red;">{{ msg }}</p>    
    {% endfor %}

    {% for msg in get_flashed_messages() %}
        <p style="color: green;">{{ msg }}</p>
    {% endfor %}

    <a href="{{ url_for('novo_aluno') }}">+ Novo Aluno</a>

    <table border="1" cellpadding="8">
        <tr>
            <th>Nome</th><th>CPF</th><th>Email</th><th>Peso</th><th>Altura</th><th>Ações</th>
        </tr>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.cpf }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.peso }}</td>
            <td>{{ aluno.altura }}</td>
            <td>
                <a href="{{ url_for('editar_aluno', aluno_id=aluno.id) }}">Editar</a>
                <a href="{{ url_for('listar_avaliacoes', aluno_id=aluno.id) }}">Avaliações</a>
                <form action="{{ url_for('excluir_aluno', aluno_id=aluno.id) }}" method="POST" style="display:inline">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>